<!doctype html>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/css/style.css">
  <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
  <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do|The+Girl+Next+Door|Calligraffitti' rel='stylesheet' type='text/css'>

  <header>
    <h1>{{ site.name }}</h1>
    <p>{{ site.description }}</p>
  </header>

  <div id="banner">
    <span id="logo"></span>

    <a href="{{ site.url }}/" class="button fork"><strong>Home</strong></a>
    <div class="downloads">
      <span>Downloads:</span>
      <ul>
        <li><a href="https://github.com/scrapfn/functions-on-a-whiteboard/zipball/master" class="button">ZIP</a></li>
        <li><a href="https://github.com/scrapfn/functions-on-a-whiteboard/tarball/master" class="button">TAR</a></li>
      </ul>
    </div>
  </div><!-- end banner -->

  <div class="wrapper">
